<section class="w-full p-20 lg:max-w-[1100px] mx-auto sm:w-11/12">
  <h3 class="uppercase text-center text-4xl tracking-wide font-semibold mb-10 text-balance mx-auto">
    Guía de la 3 Edición de los premios ESLAND
  </h3>
  <lite-youtube
    class="shadow-2xl shadow-white/10 rounded-lg"
    videoid="nYPVr2IYTtk"
    videotitle="Guía de la 3 Edición de los premios ESLAND"
  >

  </lite-youtube>
</section>
<script>
  import '@justinribeiro/lite-youtube';
</script>